@media screen and (max-width:576px) {
    .nav-icon{
        margin-left: 20px;
    }

    .nav-menu{
        display: none;
    }

    .nav-btn{
        display: none;
    }

    .hamburger-icon{
        display: inline;
        height: 24px;
        margin: 16px 24px;
    }
}
    