@media screen and (max-width:576px) {
    .nav-icon{
        margin-left: 20px;
    }

    .nav-menu{
        display: none;
    }

    .nav-btn{
        display: none;
    }

    .hamburger-icon{
        display: inline;
        height: 24px;
        margin: 16px 24px;
    }

    .about-podcast-section{
        max-width: 400px;
    }

    .about-title{
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
    }

    .about-description{
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }

    .rating-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .techwave-card-container{
        display: flex;
        flex-direction: column;
    }

    .episode-container{
        flex-direction: column;
    }

    .episode iframe{
        width: 400px;
        border-radius: 24px 24px 0px 0px;
        padding-left: 100px;
    }

    .host-container{
        flex-direction: column;
        text-align: center;
    }

    .social-icon{
        justify-content: center;
    }

}
    