@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: white;
}

body{
    background-color: rgba(26, 11, 46, 1);
}

/* header section */

.nav-container{
    max-width: 1198px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 36.5px;
    margin-bottom: 36.5px;
}

.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 32px;
}

.nav-menu li a{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.nav-btn{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    border-radius: 10000px;
    color: white;
    padding: 12px 16px;
    border: none;
}

.hamburger-icon{
    color: white;
    display: none;
}

/* banner section */
.banner-container{
    border-top: 1px solid gray;
    background-image: url(./assets/hero-bg.png);
    color: white;
    min-height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center;
}

.rounded-mic-parent{
    position: relative;
}

.mic{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.badge{
    background-color: #00FF88;
    font-size: 18px;
    font-weight: 600;
    color: black;
    padding: 8px 16px;
    border-radius: 1000px;
    border: none;
    position: absolute;
    left: 330px;
}

.banner-container > div > h1{
    font-size: 60px;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 8px;
}

.banner-container > div > p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 24px;
}

.banner-btn{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.banner-primary-btn{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    border-radius: 10000px;
    color: white;
    padding: 12px 20px;
    border: none;
}

.banner-secondary-btn{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #00FF88;
    border-radius: 10000px;
    padding: 12px 20px;
    border: 1px solid #00FF88;
    background-color: rgba(26, 11, 46, 1);
}

/* About The Podcast Section  */
.about-podcast-section{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(26, 11, 46, 1);;
}

.about-title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.about-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 80px;
}

/* Rating section */
.rating-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    text-align: center;
    margin-bottom: 120px;
}

.rating-container h1{
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    color: #00FF88;
    margin-bottom: 16px;
}

.rating-container p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

/* Why choose techwave section */
.tech-choose-container{
    background-color: rgba(35, 14, 61, 1);
}

.choose-container {
    max-width: 1200px;
    margin: 0 auto;
}

.choose-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    padding-top: 120px;
    margin-bottom: 40px;
    text-align: center;
}

.techwave-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.techwave-card-container h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.techwave-card-container p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.techwave-card-1{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    grid-column: 1 span;
    grid-row: 2 span;
    padding: 40px;
}

.techwave-card-1 img{
    margin-top: 107px;
}

.techwave-card-2{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    grid-column: 2 span;
    grid-row: 1 span;
    padding: 40px;
}

.techwave-card-3{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    grid-column: 2 span;
    grid-row: 1 span;
    padding: 40px;
}

.techwave-card-4{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    grid-column: 2 span;
    grid-row: 1 span;
    padding: 40px;
}

.techwave-card-5 {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    grid-column: 1 span;
    grid-row: 1 span;
    padding: 40px;
}